<.header>
  Edit Equipo <%= @equipo.id %>
  <:subtitle>Use this form to manage equipo records in your database.</:subtitle>
</.header>

<.equipo_form changeset={@changeset} action={~p"/equipos/#{@equipo}"} />

<.back navigate={~p"/equipos"}>Back to equipos</.back>
